@media screen and (max-width: 480px) {

body {
  overflow-x: hidden;
}

.App {
  width: 100%
}

.Container_main {
  display: flex;
  justify-content: center;
  width: 550px;
  margin-left: -60px
}

.Check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 250px;
  font-size: 23px;
  margin-left: -35px;
  padding-bottom: 20px;
}

.sum {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100px;
}

.flag {
  width: 20xpx;
}


.live {
  padding-top: 0px;
}


  .Container {
    margin-bottom: 180px;
  }

  h1 {
    display: inline-flex;
    font-size: 25px;
  }

input {
  width: 330px;
}


.franklin {
  width: 80px;
}


.currency {
  display: flex;
  width:150px;
  flex-direction: row;
  gap: 10px
}


.Get {
  display: flex;
  width: 150px;
  flex-direction: column;
  
}


.results {
  display: flex;
  flex-direction: row;
  width: 300px;
  
}



}